.wrapper {
  margin-left: 10px;
  padding: 0;
}
.cart {

  display: flex;
  align-items: center;
}
img{
  width: 30px;
  height: 30px;
  padding-right: 10px
}
.products {
  display: flex;
}

li {
  list-style: none;
}

.info {
  padding: 10px 0px 0px 100px;
  font-size: 40px;
}

.emot {
  margin-bottom: 0;
  font-size: 70px;
}